@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1.5rem;
    &:after{
        content: '';
        position: fixed;
        inset: 0;
        background-color: #2B5F75;
        width: 60%;
        height: 100vh;
        clip-path: polygon(0 100%,0 0,100% 0,70% 100%);
        z-index: -1;
    }
}
// .container{
//     display: flex;
//     height: 500px;
// }
.login-card{
    background-color: white;
    color: black;
    border: 1px solid #ddd;
    box-shadow: 0 10px 50px -30px black ;
    width: 700px;
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
    .column{
        padding: 4rem;
        height: 550px;
        &:last-child{
            background: url('https://images.pexels.com/photos/4991/dawn-sunset-dust-sunrise.jpg?auto=compress&cs=tinysrgb&w=600') center;
            background-size: cover;
            position: relative;
            // display: flex;
            // align-items: center;
            // justify-content: center;
            // gap: 40px;
        }
    }
    h1{
        font-weight: 900;
        text-align: center;
    }
    .form-element{
        width: 100%;
        border: none;
        background-color: #f1f1f1;
        padding: 20px 30px;
        font-size: 15px;
        border-radius: 50px;
        transition:box-shadow 0.2s;
    }
    form{
        margin-top: 2rem;
        *{
            margin-top: 0.5rem;
        }
        .sign-up{
            display: flex;
            justify-content: center;
            border: none;
            padding:12px 40px;
            color: #fefefe;
            border-radius: 50px;
            cursor: pointer;  
            font-size: 16px;
            background-color: #4867AA;
        }
    }
}
.label-remember{
    margin-left: 5px;
}
.signup-social{
    font-family: 'Poppins', sans-serif;
    margin-top:25px;
    padding: 5px;
    border-radius: 20px;
    display: block;
    width: 100%;
    color:white;
    font-size: 13px;
    font-weight: bold;
    border: 0;
    display: flex;
    align-items: center;
    background-color: #4867AA;
}
.signup-social-icon{
    width: 40px;
    height: 40px;
    border-radius: 16px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c6ff4;
}
.signup-social-text{
    display: block;
    margin: 0 auto;
    font-size: 16px;
}
