<!-- <div *ngIf="news$" class="parent">
  <div *ngFor="let news of (news$|async)?.articles??[]">
    <div class="content">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="news.urlToImage" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            {{news.content}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="window.location.href='{{news.url}}'">
            Click Here
          </button> -->
          <!-- <a href="{{news.url}}"> button</a>
          <button (click)="news.url" mat-button >like</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</div> --> 
<router-outlet></router-outlet>