.example-card {
  max-width: 400px;
  height: 500px;
    background-color: #fefefe;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  
  .parent {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
  .content{
    display: flex;
    justify-content: center;
    align-items: center;
  }